<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="dao.AdminDAO">

    <!--查询-->
    <select id="select" resultType="Admin">
        select * from admin_user where username = #{username} and password = #{password}
    </select>

    <!--插入-->
    <insert id="insert">
        <selectKey resultType="int" keyProperty="au_id" order="BEFORE">
            select seq_admin.nextVal from dual
        </selectKey>
        insert into admin_user values(#{au_id},#{username},#{password})
    </insert>

</mapper>
