<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd">
<!--扫描所有的包-->
    <context:component-scan base-package="service"/>
<!--引入小配置文件-->
    <context:property-placeholder location="classpath:jdbc.properties"/>
<!--配置数据源-->
    <bean class="org.apache.commons.dbcp.BasicDataSource" id="dataSource">
        <property name="driverClassName" value="${driverClassName}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${name}"/>
        <property name="password" value="${password}"/>
        <property name="validationQuery" value="select * from dual"></property>
    </bean>
<!--创建sqlsession工厂-->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
        <!--起别名-->
        <property name="typeAliasesPackage" value="entity"/>
        <!--注册Mapper文件-->
        <property name="mapperLocations">
            <list>
                <value>classpath:*Mapper.xml</value>
            </list>
        </property>
    </bean>
<!--自动创建Dao的实现类-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" id="mapperScannerConfigurer">
        <property name="basePackage" value="dao"></property>
    </bean>
<!--控制事务的额外功能类-->
    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="dataSourceTransactionManager">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
    </bean>
    <!--激活注解-->
    <tx:annotation-driven transaction-manager="dataSourceTransactionManager"/>
</beans>