<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="dao.ProductDAO">

    <!--查询所有-->
    <select id="selectAll" resultType="Product">
        select * from (select c.*,rownum rn from g_product c
        <where>
            <if test="pname!=null">
                 pname like '%'||#{pname}||'%'
            </if>
        </where>
        )
        where rn &gt;=#{page} and rn &lt;=#{rows}
    </select>

    <!--根据id查单个-->
    <select id="selectOne" resultType="Product">
        select * from g_product where pid = #{pid}
    </select>
    <!--查询总条数-->
    <select id="selectCount" resultType="java.lang.Integer">
        select count(*) from g_product
        <where>
            <if test="pname!=null">
                pname like '%'||#{pname}||'%'
            </if>
        </where>
    </select>


    <!-- 插入 -->
    <insert id="insert">
        insert into g_product values(#{pid},#{pname},#{market_price},#{shop_price},#{image},#{description},#{is_hot},#{cid})
    </insert>

    <!-- 修改 -->
    <update id="update" >
        update g_product
        <set>
            <if test="#{pname}!=null">
                pname=#{pname},
            </if>
            <if test="#{market_price}!=null">
                market_price=#{market_price},
            </if>
            <if test="#{shop_price}!=null">
                shop_price=#{shop_price},
            </if>
            <if test="#{image}!=null">
                image=#{image},
            </if>
            <if test="#{description}!=null">
                description=#{description},
            </if>
            <if test="#{is_hot}!=null">
                is_hot=#{is_hot},
            </if>
            <if test="#{cid}!=null">
                cid=#{cid}
            </if>
        </set>
        where pid=#{pid}
    </update>

    <!--删除-->
    <delete id="delete">
        delete from g_product where pid = #{pid}
    </delete>
    <!--批量删除-->
    <delete id="deleteByIds">
        delete from g_product where pid in
        <foreach collection="array" open="(" item="ids" separator="," close=")" >
            #{ids}
        </foreach>
    </delete>
</mapper>
